# Assignment 4


Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (25 points)

In [ ]:
# Please go to Palette_training_4 GitHub repo and 
# 1. Read Sask_RM_data.csv.
# 2. Rename column namse Crop Year, Canola - bu/ac, Spring Wheat - bu/ac with
# Year, Canola, SpringWheat respectively.

In [ ]:
# 1. Read csv file by using pandas 

## Your code here - down ##

## Your code here - up ##

In [ ]:
# 2. Rename columns

## Your code here - down ##

## Your code here - up ##

Question 2 (65 points)

In [ ]:
# 1. How many missing values in each column? 

## Your code here - down ##

## Your code here - up ##

In [ ]:
# 2. Find unique values of RMs(Rural Municipalities).

## Your code here - down ##

## Your code here - up ##

In [ ]:
# 3. Use groupby() and find top 10 RMs in terms of average Canola yield through 10 years.

## Your code here - down ##

## Your code here - up ##

In [ ]:
# 4. Use groupby() function and find worst 10 RMs in terms of average Spring Wheat through 10 years.

## Your code here - down ##

## Your code here - up ##

In [ ]:
# 4. Use groupby() function and find worst 3 best years in terms of average Spring Wheat.

## Your code here - down ##

## Your code here - up ##

In [ ]:
# 5. Use groupby() function and find worst 3 years in terms of average Spring Wheat through 10 years.

## Your code here - down ##

## Your code here - up ##

## Question 3 (10 points)

This task is independent exploratory data analysis. Find key insights from the dataset and share your code by creating new cells.